$write:#ffffff;
$black:#000;
$staticUrl:'~@/assets/img/';
$cloudUrl:'https://img.xuanyiai.com';

// 字体
@mixin fontSize($num:24) {
  font-size: $num + px
}

// 弹性盒模型
@mixin flex($justity:flex-start, $align:stretch, $direction:row, ) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justity;
}

// 定位
@mixin position($pos:static, $t:auto, $l:auto, $r:auto, $b:auto) {
  position: $pos;
  left: $l;
  right: $r;
  top: $t;
  bottom: $b;
}

// 背景
@mixin bg($color:transparent, $url:none, $size:contain, $pos1:0%, $pos2:0%) {
  background-color: $color;
  background-repeat: no-repeat;
  background-position: $pos1 $pos2;
  background-size: $size;

  @if $url==none {
    background-image: none
  }

  @else {
    background-image: url($url);
  }
}
