/* 支付-浮框 */
.fortune-pay-float {
  position: fixed;
  bottom: 0;
  z-index: 99;
  background: $write;
}
.fortune-pay-float-desc {
  padding: 54px 20px 0;
  color: #6b90ff;
  text-align: center;
  .fortune-pay-float-desc-item {
    font-size: $font-34;
    font-weight: bold;
  }
}
.fortune-pay-float-desc-people {
  @include flex-center;
  padding: 40px 0px 30px;
  border-bottom: 1px solid rgba(171,171,171,0.4);
  div {
    font-size: $font-32;
    display: flex;
    align-items: center;
  }
  .fortune-pay-float-desc-name {
    max-width: 270px;
    margin-right: 30px;
    font-weight: normal;
  }
  img {
    width: 42px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.fortune-pay-float-desc-name {
  font-weight: bold;
}
.fortune-pay-float-desc-code {
  width: 254px;
  text-align: center;
}
.fortune-pay-float-desc-tip {
  padding: 22px 8px 0;
  text-align: left;
  div {
    font-size: $font-24;
    line-height: 40px;
    color: #a9a9a9;
  }
}
.fortune-pay-money {
  @include flex-center;
  margin-top: 24px;
  height: 90px;
  width: 100%;
  background: linear-gradient(147deg, #82c2fe 0%, #6779ff 100%);
  .fortune-pay-money-item {
    width: 374px;
    text-align: center;
    font-size: $font-36;
    color: #fff;
    &.pay-money {
      @include flex-center;
      height: 36px;
    }
  }
  .pay-money {
    div {
      &:first-child {
        max-width: 90px;
        font-size: $font-24;
        margin-right: 6px;
        line-height: 30px;
        border: 1px solid $write;
        border-radius: 8px;
        a {
          width: 90px;
          display: inline-block;
          transform: scale(0.8);
        }
      }
      &:nth-child(2) {
        font-size: $font-34;
        line-height: $font-34;
        font-weight: bold;
      }
      &:nth-child(3) {
        font-size: $font-26;
        line-height: $font-26;
        color: #bccfff;
        margin-left: 8px;
      }
    }
  }
  .fortune-pay-line{
    height: 58px;
    border-left: 1px solid $write
  }
}
/* 遮罩 */
.toPayMask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  background: #313131;
  z-index: 9;
}
