.matchreport {
  width: 100%;
  min-height: 100%;
  background: #049ce5 url('http://img.xuanyiai.com/mini_matching_report_bg.jpg') no-repeat;
  background-size: 750px 2180px;
  padding-top: 100px;
}
/* 水球 */
.waterCircle {
  position: relative;
  padding: 0 140px;
  height: 318px;
  width: 100%;
}
/* 水球-水纹 */
.wave-box {
  position: absolute;
  width: 516px;
  height: 288px;
  border-radius: 72px;
  z-index: 99;
  overflow: hidden;
  top: 0;
}
.wave-circle {
  position: absolute;
  height: 288px;
  width: 288px;
  border-radius: 50%;
  overflow: hidden;
}
.wave-circle-l {
  left: 0;
  .wave-circle-h {
    width: 258px;
  }
}
.wave-circle-r {
  right: 0;
  .wave-circle-h {
    width: 258px;
    margin-left: 30px;
  }
  .wave-circle-image {
    margin-left: 30px;
  }
}
.wave-circle-box {
  position: absolute;
  bottom: 0;
  height: 0;
}
.wave-circle-image {
  position: relative;
  width: 260px;
  height: 36px;
  img {
    position: absolute;
    width: 258px;
    height: 36px;
    opacity: 0.3;
    vertical-align: top;
    &.wave-img-two {
      opacity: 0.30;
    }
    &.wave-img-three {
      opacity: 0.35;
    }
  }
}
.wave-circle-mask {
  position: relative;
  height: 0;
}
.wave-circle-h {
  position: absolute;
  height: 100%;
  background: #fff;
  opacity: 0.3;
  &.wave-mask-two {
    opacity: 0.3;
  }
  &.wave-mask-three {
    opacity: 0.35;
  }
}
/* 水球-文字 */
.wave-content {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 318px;
  width: 516px;
  background: url('http://img.xuanyiai.com/mini_matching_people.png') no-repeat center center;
  background-size: 514px 318px;
  z-index: 100;
  .circle-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    height: 246px;
    margin-bottom: 6px;
    font-size: $font-28;
    color: #ffffff;
    &.people-one {
      padding-left: 24px;
    }
    &.people-two {
      padding-right: 24px;
    }
    img {
      width: 108px;
      height: 108px;
      vertical-align: top;
      border: 6px solid #fff;
      border-radius: 50%;
    }
  }
}
.circle-item-name {
  color: #313131;
  letter-spacing: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.circle-item-code {
  font-size: $font-28;
  line-height: $font-28;
}
