.code_item {
    @include position(absolute);
    @include fontSize(36);
    color: $write;
  }

  .code_item_first {
    bottom: 93px;
  }

  .code_item_i {
    left: 274px;
  }

  .code_item_j {
    left: 324px;
  }

  .code_item_k {
    left: 402px;
  }

  .code_item_l {
    left: 452px;
  }

  .code_item_second {
    bottom: 165px;
  }

  .code_item_m {
    left: 316px;
  }

  .code_item_n {
    left: 410px;
  }

  .code_item_three {
    top: 120px;
  }

  .code_item_o {
    left: 358px;
    @include fontSize(56);
    color: #99DBFF;
    font-weight: bold
  }

  .code_item_four {
    bottom: 200px;
  }

  .code_item_s {
    left: 66px;
  }

  .code_item_eql {
    left: 98px;
  }

  .code_item_x {
    left: 130px;
  }

  .code_item_w {
    left: 174px;
  }

  .code_item_v {
    right: 174px;
  }

  .code_item_u {
    right: 130px;
  }

  .code_item_eqr {
    right: 98px;
  }

  .code_item_t {
    right: 66px;
  }

  .code_item_five {
    top: 44px;
  }

  .code_item_q {
    left: 314px;
  }

  .code_item_p {
    right: 312px;
  }

  .code_item_six {
    top: 20px;
  }

  .code_item_r {
    left: 364px;
  }