
/**
* character  fleet  
*/
@import '../code_reading/triangle.scss';
.deep-report {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;

  &.deep-report-character{
    background: #1C1F3D;
  }

  &.deep-report-fleet,&.deep-report-fortune,&.deep-report-business,&.deep-report-job{
    background: #F6F8F8;;
  }

  .deep-code {
    width: 100%;
    height: 641px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &.deep-code-character{
      background: url('#{$staticUrl}/deep_bg_character.png') no-repeat;
      background-size: 100% 100%;
    }
    &.deep-code-fleet{
      background: url('#{$staticUrl}/deep_bg_fleet.png') no-repeat;
      background-size: 100% 100%;

      .code_item_i,.code_item_j,.code_item_k,.code_item_l,.code_item_m,.code_item_n{
        color: #634200;
        font-weight: bold
      }
      .code_item_o{
        color: #C9301F;
      }
    }
    &.deep-code-fortune,&.deep-code-business,&.deep-code-job{
      background: url('#{$staticUrl}/deep_bg_fortune.png') no-repeat;
      background-size: 100% 100%;

      .code_item_i,.code_item_j,.code_item_k,.code_item_l,.code_item_m,.code_item_n{
        color:#BA8C44;
        font-weight: bold
      }
      .code_item_o{
        color: #4B210B;
      }
    }

    .switchOther {
      @include position(absolute, $r: 20px, $t:24px);
      @include flex($align: center);
      color: #fff;
      font-size: 28px;

      img {
        margin-right: 10px;
        width: 32px;
        height: 34px;
      }
    }

    .life_code {
      padding-top: 30px;
    }

    .code_main {
      @include position(relative);
      width: 100%;
      height: 430px;
      
      &.code_main-character{
        @include bg($url:'#{$staticUrl}/sj_bg_1.png', $pos1: center, $pos2:50px, $size:376px 385px);
      }
      &.code_main-fleet{
        @include bg($url:'#{$staticUrl}/sj_bg_2.png', $pos1: center, $pos2:50px, $size:376px 385px);
      }
      &.code_main-fortune,&.code_main-business,&.code_main-job{
        @include bg($url:'#{$staticUrl}/sj_bg_3.png', $pos1: center, $pos2:50px, $size:376px 385px);
      }
    }

    .code-desc {
      text-align: center;
      @include fontSize(28);
      color: $write;
    }
  }
  
  // 关于生命密码
  .about {
    @include flex(flex-end,center);
    width: 700px;
    margin: 60px auto;
    font-size: 30px;
    
    &.about-chracter{
      color: #FFFFFF;
    }
    &.about-fleet,&.about-fortune,&.about-business,&.about-job{
      color: #4A4A4A;
    }
    img{
      margin-left:15px; 
      width: 27px;
      height: 26px;
    }
  }
}
