.pi_page {
  position: relative;
}

.pi_tab {
  @include fontSize(28);
  border-bottom: 1px solid #eee;
}

// 添加
.list_main {
  // height: 300px;
  overflow: hidden;
  background: #fff;

  .list_contain {
    margin-bottom: 0px;

    .list_item {
      @include flex($align:center);
      width: 100%;
      height: 172px;
      padding: 0 32px;
      border-bottom: 1px solid #DFDFDF;

      .list_item_avater {
        margin-right: 20px;

        img {
          width: 94px;
          height: 94px;
          vertical-align: top;
          border-radius: 50%;
          border: 1px solid #6B90FF;
        }
      }

      .list_item_info {
        width: 100%;

        .list_item_name {
          margin-bottom: 10px;
          color: #313131;
          @include fontSize(28);

          img {
            width: 26px;
            height: 26px;
            margin-left: 20px;
          }
        }

        .list_item_desc {
          @include flex(space-between, center);
          @include fontSize;
          color: #648AFF;

          .list_item_code {
            @include flex($align:center);

            img {
              margin: 0 8px;
              width: 42px;
              height: 30px;
            }
          }

          .list_item_relation {
            padding: 6px 10px;
            @include fontSize;
            line-height: 24px;
            color: $write;
            background: #648AFF;
            border-radius: 6px;
          }
        }

        .match_item_info {
          @include flex(space-between, center);

          .match_item_degree {
            color: #333;
            @include fontSize;

            a {
              margin-left: 6px;
              color: #648AFF
            }
          }
        }
      }
    }

    .load-more {
      height: 80px;
      line-height: 80px;
      text-align: center;
      @include fontSize(28);
      img{
        width: 40px;
        height: 40px;
        vertical-align: middle;
        margin-right: 40px;
      }
    }
  }

}
