.coupons-page {
    position: relative;
    background: #566cd3;
  }
  .coupons-invita {
    width: 100%;
    height: 536px;
    background: url('https://img.xuanyiai.com/mini_ticket_bg.png') no-repeat;
    background-size: contain;
  }
  .invita-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 226px;
    width: 100%;
    height: 356px;
    text-align: center;
  }
  .invita-desc {
    p {
      font-size: $font-38;
      color: #566cd3;
      letter-spacing: 4px;
      font-weight: bold;
    }
  }
  .invita-num {
    margin-top: 38px;
    font-size: $font-26;
    color: #566cd3;
    a {
      font-size: $font-36;
    }
  }
  .invita-btn {
    margin-top: 16px;
    width: 288px;
    height: 60px;
    background: #fe895c;
    font-size: $font-26;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    border-radius: 28px;
  }
  /* 优惠券详情 */
  .coupons-group {
    margin-top: 34px;
  }
  .coupons-item {
    position: relative;
    margin: 0 auto 40px;
    width: 670px;
    height: 220px;
    background: #ffffff;
    border-radius: 10px;
  }
  .coupons-item-title {
    padding-top: 28px;
    padding-left: 28px;
    p {
      &:first-child {
        font-size: $font-28;
      }
      &:last-child {
        margin-top: 6px;
        font-size: $font-24;
        color: #9b9b9b;
      }
    }
  }
  .coupons-item-blue {
    .coupons-item-title {
      p {
        &:first-child {
          color: #648aff;
        }
      }
    }
    .coupons-item-line {
      .line-middle {
        border-top: 1px dotted #648aff;
      }
    }
    .coupons-item-num {
      color: #648aff;
    }
    .coupons-item-state {
      background: #648aff;
    }
  }
  .coupons-item-ora {
    .coupons-item-title {
      p {
        &:first-child {
          color: #fe895c;
        }
      }
    }
    .coupons-item-line {
      .line-middle {
        border-top: 1px dotted #fe895c;
      }
    }
    .coupons-item-num {
      color: #fe895c;
    }
    .coupons-item-state {
      background: #fe895c;
    }
  }
  .coupons-item-gray {
    .coupons-item-title {
      p {
        &:first-child {
          color: #bdbdbd;
        }
      }
    }
    .coupons-item-line {
      .line-middle {
        border-top: 1px dotted #bdbdbd;
      }
    }
    .coupons-item-num {
      color: #bdbdbd;
    }
    .coupons-item-state {
      background: #bdbdbd;
    }
  }
  .coupons-item-line {
    position: relative;
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    overflow: hidden;
    .semicircle {
      position: absolute;
      top: 0;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background: #566cd3;
      &.line-left {
        left: -13px;
      }
      &.line-right {
        right: -13px;
      }
    }
    .line-middle {
      width: 600px;
    }
  }
  .coupons-item-use {
    display: flex;
    justify-content: space-between;
    padding: 16px 28px 0;
  }
  .coupons-item-num {
    font-size: $font-28;
  }
  .coupons-item-state {
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    font-size: $font-24;
    color: #ffffff;
  }
  /* 规则 */
  .rules {
    margin: 50px auto 0;
    padding-bottom: 60px;
    width: 654px;
    p {
      font-size: $font-24;
      color: #ffffff;
      opacity: 0.5;
      line-height: 38px;
    }
  }
  