.coupons-page {
    position: relative;
    @include bg(#566cd3);
  }
  .coupons-invita {
    width: 100%;
    height: 536px;
    @include bg($url:'#{$cloudUrl}/mini_ticket_bg.png')
  }
  .invita-main {
    @include flex($align:center,$direction:column);
    padding-top: 226px;
    width: 100%;
    height: 356px;
    text-align: center;
  }
  .invita-desc {
    p {
      @include fontSize(38);
      color: #566cd3;
      letter-spacing: 4px;
      font-weight: bold;
    }
  }
  .invita-num {
    margin-top: 38px;
    @include fontSize(26);
    color: #566cd3;
    a {
      @include fontSize(36);
    }
  }
  .invita-btn {
    margin-top: 16px;
    width: 288px;
    height: 60px;
    @include bg(#fe895c);
    @include fontSize(26);
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    border-radius: 28px;
  }
  /* 优惠券详情 */
  .coupons-group {
    margin-top: 34px;
  }
  .coupons-item {
    position: relative;
    margin: 0 auto 40px;
    width: 670px;
    height: 220px;
    @include bg(#fff);
    border-radius: 10px;
  }
  .coupons-item-title {
    padding-top: 28px;
    padding-left: 28px;
    p {
      &:first-child {
        @include fontSize(28);
      }
      &:last-child {
        margin-top: 6px;
        @include fontSize;
        color: #9b9b9b;
      }
    }
  }
  .coupons-item-blue {
    .coupons-item-title {
      p {
        &:first-child {
          color: #648aff;
        }
      }
    }
    .coupons-item-line {
      .line-middle {
        border-top: 1px dotted #648aff;
      }
    }
    .coupons-item-num {
      color: #648aff;
    }
    .coupons-item-state {
      @include bg(#648aff);
    }
  }
  .coupons-item-ora {
    .coupons-item-title {
      p {
        &:first-child {
          color: #fe895c;
        }
      }
    }
    .coupons-item-line {
      .line-middle {
        border-top: 1px dotted #fe895c;
      }
    }
    .coupons-item-num {
      color: #fe895c;
    }
    .coupons-item-state {
      @include bg(#fe895c)
    }
  }
  .coupons-item-gray {
    .coupons-item-title {
      p {
        &:first-child {
          color: #bdbdbd;
        }
      }
    }
    .coupons-item-line {
      .line-middle {
        border-top: 1px dotted #bdbdbd;
      }
    }
    .coupons-item-num {
      color: #bdbdbd;
    }
    .coupons-item-state {
      @include bg(#bdbdbd)
    }
  }
  .coupons-item-line {
    position: relative;
    width: 100%;
    height: 26px;
    @include flex(center,center);
    margin-top: 14px;
    overflow: hidden;
    .semicircle {
      position: absolute;
      top: 0;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      @include bg(#566cd3);
      &.line-left {
        left: -13px;
      }
      &.line-right {
        right: -13px;
      }
    }
    .line-middle {
      width: 600px;
    }
  }
  .coupons-item-use {
    @include flex(space-around);
    padding: 16px 28px 0;
  }
  .coupons-item-num {
    @include fontSize(28);
  }
  .coupons-item-state {
    width: 132px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    @include fontSize;
    color: #ffffff;
  }
  /* 规则 */
  .rules {
    margin: 50px auto 0;
    padding-bottom: 60px;
    width: 654px;
    p {
      @include fontSize;
      color: #ffffff;
      opacity: 0.5;
      line-height: 38px;
    }
  }
  