.friend-page {
    @include flex(center, $direction:column);
    position: relative;
    width: 100%;
    min-height: 100%;
    background: url("#{$cloudUrl}/mini_info_bg.jpg") no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
  .friend-title {
    @include flex(space-between);
    padding: 24px 50px 0 50px;
    @include fontSize(28);
    color: #ffffff;
    img {
      width: 32px;
      height: 34px;
      vertical-align: top;
    }
  }
  /* 填写信息 */
  .add {
    margin: 32px auto 0;
    padding: 52px 0 40px;
    width: 650px;
    border-radius: 20px;
    background: #ffffff;
  }
  /* 头像 */
  .avater {
    .avaterImg {
      position: relative;
      margin: 0 auto 40px;
      width: 126px;
      height: 126px;
      img {
        width: 126px;
        height: 126px;
        border-radius: 50%;
        background: #fff;
        &.icon {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 32px;
          height: 28px;
          border-radius: 0%;
        }
      }
    }
  }
  /* 填写信息通用 */
  .info-item {
    @include flex($align:center);
    margin: 0 56px;
    border-bottom: 1px solid #dfdfdf;
    .info-icon {
      width: 70px;
      height: 36px;
      img {
        width: 34px;
        height: 32px;
      }
    }
    .info-main {
      width: 100%;
    }
    &.nick {
      padding: 16px 0;
    }
  }
  .info-font {
    @include fontSize(28);
    color: #999;

    &.info-font-active{
      color: #4a4a4a
    }
  }
  .info-arrow {
    img {
      width: 14px;
      height: 26px;
      vertical-align: middle;
    }
  }
  /* 昵称 */
  .nick-content {
    input {
      width: 100%;
      height: 60px;
    }
  }
  /* 性别 */
  .sex-box {
    @include flex(space-between);
  }
  .sex-value {
    height: 90px;
    line-height: 90px;
    @include fontSize(28);
    color: #4a4a4a;
  }
  .sex-options {
    @include flex($align:center);
    height: 90px;
  }
  /* 选择生日 */
  .birth-box {
    @include flex(space-between, center);
    height: 100px;
    line-height: 100px;
  }
  .info-icon {
    &.place-icon {
      img {
        width: 26px;
        height: 36px;
      }
    }
  }
  /* 查看报告 */
  .viewreport {
    margin: 80px auto 0;
    width: 488px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: #6b90ff;
    border-radius: 8px;
    @include fontSize(32);
    color: #ffffff;
  }
  /* 生日 */
  .mint-datetime {
    .picker-toolbar {
      background: #e9e9e9;
    }
  }
  .mint-datetime-action {
    width: 160px;
    color: #2f80f2;
    @include fontSize(28);
  }
  .mint-datetime-confirm {
    color: #46bd45;
  }
  .picker-items {
    padding: 40px 0;
  }
  .picker-slot {
    @include fontSize(28);
  }
  /* 出生地点 */
  .place-box {
    height: auto;
    line-height: 60px;
    padding: 22px 0;
  }
  
  /* 选择图片 */
  .chooseImg {
    position: absolute;
    top: -999px;
  }
  