.lover-page {
  min-height: 100vh;

  .lover {
    width: 100%;
    min-height: 100vh;
    background: url('../../../assets/img/love_bg.png') no-repeat;
    background-size: 750px 1650px;
    .lover-desc {
      padding: 40px 40px 0;
      font-size: $font-28;
      line-height: 56px;
      color: #265BC0;
    }

    .lover-title {
      @include flex-center;
      margin: 78px auto 0;
      width: 622px;
      height: 86px;
      color: $write;
      font-size: $font-30;
      background: url('../../../assets/img/love_title.png') no-repeat;
      background-size: 622px 86px;
      border-radius: 32px;
    }

    .wife-title {
      width: 572px;
      height: 64px;
      background: #B893F6;
    }

    .add-lover {
      margin-top: 60px;

      .add-item {

        width: 610px;
        height: 236px;
        border: 2px solid #C7D7FF;
        border-radius: 28px;
        background: #8cacff;
        margin: 0 auto 40px;

        .add-item-not {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          .add-item-title {
            font-size: $font-30;
            color: $write;
            letter-spacing: 16px;
          }

          img {
            margin-left: 20px;
            width: 54px;
            height: 54px;
          }
        }

        .add-item-selected {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 610px;
          height: 236px;
          padding: 0px 66px 0;

          .selected-info {
            display: flex;
            align-items: center;
            // justify-content: space-between;

            .selected-info-avater {
              margin-right: 38px;
              width: 120px;
              height: 120px;
              border-radius: 50%;

              img {
                width: 112px;
                height: 112px;
                border: 4px solid $write;
                border-radius: 50%
              }
            }

            .selected-info-desc {
              .selected-info-name {
                display: flex;
                align-items: center;

                p {
                  font-size: $font-30;
                  color: $write;
                }

                img {
                  margin-left: 14px;
                  width: 26px;
                  height: 26px;
                }
              }

              .selected-info-code {
                margin-top: 18px;
                display: flex;
                align-items: center;
                font-size: $font-26;
                color: #265BC0;
                letter-spacing: 0;
                font-weight: bold;
                img {
                  margin: 0 10px;
                  width: 43px;
                  height: 29px;
                  vertical-align: middle
                }
              }
            }
          }

          .selected-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;

            div {
              @include flex-center;
              width: 200px;
              height: 46px;
              background: $write;
              border-radius: 32px;
              font-size: $font-26;
              color: #265BC0;
            }
          }
        }
      }
      .wife-item{
        border: 2px solid #ECE0FF;
        background: #cab3ff;
      }
    }

    .viewReport {
      padding: 30px 0 70px;
      div {
        @include flex-center;
        margin: auto;
        width: 420px;
        height: 80px;
        background: $write;
        border-radius: 45px;
        font-size: $font-30;
        color: #265BC0;
        letter-spacing: 0;
        font-weight: bold
      }
    }
  }

  .wife {
    background: url('../../../assets/img/wife_bg.png') no-repeat;
    background-size: 750px 1650px;
  }
}
